@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --main: #17768D;
    --dark: black;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
    
}

body, .main-body {
    margin: 0px;
    background-color: #FFf;
}

nav {
    display: block
}


#logo h2 {
    text-align: center;
    color: var(--main);
    padding: 0.5rem;
    margin-top: 1rem;
}

/* Test */
#logo {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
}
#logo button {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    color: var(--main);
    background: white;
    font-size: 2rem;
    border: none;
    transition: background 1s;
}

#logo button:hover{
    background: var(--main);
    color: white;
    
}


#nav-wrapper {
    display:none;
    /* display: block; */
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0px;
}


/* end test */
.nav-links a {
    margin-bottom: 1px;
    text-decoration: none;
    background-color: var(--main);
    color: #FFFFE0;
    display: block;
    text-align: center;
    padding: 0.4rem 1.4rem;
    font-size: 1.4rem;
    /* font-weight: bold; */
    transition: background 1s;
}

.nav-links a:hover {
    background: #006B1C;
}

.top {
    width: 100%;
    height: 100%;
    background: url('../images/circle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    padding-top: 15px;
    padding-bottom: 6rem;
    margin-bottom: 20px;
}

.bounding-box {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: -80px;
    background: black;
}

.bounding-box a {
    text-decoration: none;
    color: black;
}

.sets {
    display: block;
    margin:0;
    margin-top: -4px; 
}

.sets img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    
}

.sets:nth-child(2) {
    background: #fff;
    padding: 0.6rem;
    text-align: center;
}

.sets p {
    margin-top: -18px;
}

.social {
    height: 70px;
    display: block;
    padding-top: 0.6rem;
    grid-column-end: span 2;
    margin-top: -10px;
}

.social a {
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.social-inner-wrap {
    background: var(--main);
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0.6rem;
    grid-gap: 10px;
    margin-top: -5px;
    margin: 0 auto;
}

.fa-instagram{
    color: brown;
}

.fa-google-plus-g{
    color: #c94312;
}

.fa-twitter {
    color: #93f6ff;    
}
.fa-linkedin-in{
    color: #00e9ff;
}

.about {
    background-color: #ecf9ef;
    padding: 10px;
    line-height: 1.8rem;
    /* width: 87%;
    margin: 0 auto; */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 3px 3px 9px var(--main)
    /* border-top: 30px solid white; */
}

#experience {
    text-align: center;
    padding-top: 2rem;
}

.resume {
    padding: 5px;
    border-top: 1px solid var(--main);
}

#space {
    height: 1rem;
}

.details {
    line-height: 1.8rem;
    margin-top: 10px;
    /* border: 1px solid black; */
    padding: 10px 8px 8px 8px;
    /* background: #F1F1F1; */
}

.left li {
    list-style: none;
    padding-top: 10px;
    padding-left: 1.2rem;
    text-align: left;
}

.duties {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.duties div {
    margin-top: 9px;
}

.duties:hover .point{
    font-size: 1.5rem;
}

#skills {
    background: var(--main);
    text-align: center;
    padding: 15px;
    color: white;

}

.skills {
    background: var(--main);
    padding: 10px;
    margin-top: -22px;
}

.skills div {
    background: #549CAD;
    padding: 10px;
    text-align: center;
    margin-top: 8px;
    color: white;
    transition: background 1s;
}

.skills div:hover {
    background: #006B1C;
}
#projects {
    text-align: center;
    padding: 1rem;
    padding-top: 50px;
    border-bottom: 1px solid var(--main);
}

.projects {
    padding: 10px;

}

.item {
    padding: 10px;
}

.item a {
    background: var(--main);
    text-decoration: none;
    color: white;
    padding: 10px;
}

.item img {
    width: 100%;
}

.project-img {
    display: none;
}



#contact {
    background: var(--main);
    text-align: center;
    padding: 15px;
    color: white;
}

.contact {
    padding: 10px;
    background: var(--main);
    margin-top: -23px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15px;
    color: white;
}
.form-group label {
    padding: 5px;
}
.form-group input, .form-group textarea {
    padding: 8px;
    font-size: 1.2rem;
    margin-top: 1px;
    background: lightyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.form-group input {
    height: 35px;
}

    .footer {
        max-width: 1020px;
        margin: 0 auto;
        bottom:0;
        padding-top: 20px;
        text-align: center;
    }

@media only screen and (min-width: 768px){
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.9rem;

    }

    #logo {
    padding: 0;
    }

    #logo h2 {
        display: grid;
        color: var(--main);
        text-align: center;
        height: 40px;
        line-height:37px;
        text-align: left;
        font-size: 2rem;
        padding: 0.4rem;
    }

    #logo button {
        display: none;
    }

    #nav-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        list-style: none;
    }


    .nav-links a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 0.8rem 1.4rem;
        font-size: 1.4rem;
        box-shadow: 2px 4px 3px #cdd6d5;
    }

    .top {
        padding-top: 4rem;
        margin-bottom: 40px;
        height: 400px;
        padding-bottom: 120px;
    }

    .bounding-box {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        /* margin-bottom: -70px; */
    }


    .sets img {
        width: 100%;
        height: 100%;
    }

    .sets:nth-child(2) {
        background: #fff;
        padding: 0.6rem;
        text-align: center;
    }

    .sets p {
        margin-top: -18px;
    }

    .social {
        height: 70px;
        display: block;
        padding-top: 0.6rem;
        grid-column-end: span 2;
        margin-top: -12px;
    }


    .social a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        
    }

    .social-inner-wrap {
        background: var(--main);
        height: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 0.6rem;
        grid-gap: 10px;
        margin-top: -5px;
        margin: 0 auto;
    }

    .about {
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        border-top: 0px solid white;
    }

    #experience {
        text-align: center;
    }
    .resume {
        padding: 5px;
        max-width: 1000px;
        margin: 0 auto;
    }
    #space {
        height: 3rem;
    }
    .details {
        margin-top: 10px;
        /* border: 1px solid black; */
        padding: 10px 8px 8px 8px;
        /* background: #F1F1F1; */
        display: grid;
        /* grid-template-columns: 4fr 2fr; */
        grid-gap: 10px;
        grid-template-areas: 
        "right right left";
        /* transform: box-shadow 1s; */
    }

    .left {
        grid-column-start: 1;
        /* margin-top: -118px; */
        box-shadow: -2px -2px 1px var(--main);
        padding: 1rem;
        padding-top: 0px;
        grid-area: right;
        /* border-top: 1px solid var(--main); */
        

    }

    /* .details:hover {
        box-shadow: -2px -2px 5px 5px var(--main);
    } */

    .right {
        grid-column-start: 2;
        text-align: right;
        /* box-shadow: 3px 3px 9px var(--main); */
        padding: 1rem;
        transform: rotate(-30deg);
        padding-top: 50px;
        /* border: 2px solid black; */
        grid-area: left;
        align-self: center;
        /* border-left: 1px solid var(--main); */
        transition: transform 1s;
    }

    .right:hover{
        transform: rotate(0deg);
    }


    #skills {
        margin-top: 20px;
        text-align: center;
        padding: 15px;
        max-width: 1000px;
        margin: 0 auto;
        border: 1px solid white;
    }
    
    .skills {
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .skills div {
        padding: 10px;
        text-align: center;
        margin-top: 0px;
    }

    #projects, .projects {
        max-width: 1000px;
        margin: 0 auto;
    }

    .item img:hover {
        box-shadow: 2px 2px 2px 4px var(--main);
    }

    .project-img {
        padding-top: 10px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px; 
    }

    .big-screen, .big-screen2 {
        border: 2px solid var(--main);
        opacity: 0.5;
        transition: opacity 1s;
    }

    .big-screen:hover, .big-screen2:hover {
        opacity: 1;
        box-shadow: 2px 2px 2px var(--main);
    }


    #contact {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 1px;
    }

    .contact {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 20px;
        
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .form-group {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 15px;
    }

    .message {
        grid-column-start: 1;
        grid-column-end: 3;
    }


}